<link rel="stylesheet" href="lib/angularjs-popup.css">
<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

<body ng-app="app" ng-controller="main" ng-cloak>
    <!-- general -->
    <section>
        <h1>
            General

            <button class="button white pull-right" ng-click="save()">
                <i class="fas fa-check"></i>
                Save Changes
            </button>

            <!-- export stub -->
            <button class="button white invert pull-right" disabled ng-if="!export">
                <i class="fas fa-arrow-down"></i>
                Export Data
            </button>
            <!-- export link -->
            <a class="button white invert pull-right" ng-if="export">
                <i class="fas fa-arrow-down"></i>
                Export Data
            </a>

            <!-- import stub -->
            <button class="button white invert pull-right" ng-click="import()" disabled>
                <i class="fas fa-arrow-up"></i>
                Import Data
            </button>
        </h1>
        <div class="two-col">
            <label>
                Name
                <input ng-model="state.name">
            </label>
            <label>
                Title
                <input ng-model="state.title">
            </label>
            <label>
                Phone
                <input ng-model="state.phone" type="tel">
            </label>
            <label>
                Email
                <input ng-model="state.email" type="email">
            </label>
        </div>
    </section>

    <!-- links -->
    <section>
        <h1>
            Website/Social Links
            <button class="button white pull-right" ng-click="addLink()">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </h1>
        <div>
            <table class="table" ng-if="state.links.length">
                <thead>
                    <tr>
                        <th width="10%">Move</th>
                        <th width="20%">Type</th>
                        <th width="65%">URL</th>
                        <th width="5%">Edit</th>
                    </tr>
                </thead>
                <tbody ng-sortable>
                    <tr ng-repeat="item in state.links track by $index">
                        <td>
                            <i class="fas fa-arrows-alt" ng-sort></i>
                        </td>
                        <td>
                            <span class="no-wrap" style="max-width: 150px;">
                                <i class="{{ linkTypes[item.type] }}" style="font-size: 18px; width: 18px;"></i>
                                {{item.type}}
                            </span>
                        </td>
                        <td>
                            <span class="no-wrap" style="max-width: 487px;">
                                <a href="{{item.url}}" target="_blank">{{item.url}}</a>
                            </span>
                        </td>
                        <td>
                            <i class="fas fa-edit" ng-click="editLink(item, $index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- education -->
    <section>
        <h1>
            Education
            <button class="button white pull-right" ng-click="addEducation()">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </h1>
        <div>
            <table class="table" ng-if="state.education.length">
                <thead>
                    <tr>
                        <th width="10%">Move</th>
                        <th width="25%">Degree</th>
                        <th width="20%">School</th>
                        <th width="20%">Location</th>
                        <th width="15%">Time Span</th>
                        <th width="5%">Edit</th>
                    </tr>
                </thead>
                <tbody ng-sortable>
                    <tr ng-repeat="item in state.education track by $index">
                        <td>
                            <i class="fas fa-arrows-alt" ng-sort></i>
                        </td>
                        <td>
                            {{item.degree}}
                        </td>
                        <td>
                            {{item.school}}
                        </td>
                        <td>
                            {{item.location}}
                        </td>
                        <td>
                            {{item.timespan}}
                        </td>
                        <td>
                            <i class="fas fa-edit" ng-click="editEducation(item, $index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- experience -->
    <section>
        <h1>
            Experience
            <button class="button white pull-right" ng-click="addExperience()">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </h1>
        <div>
            <table class="table" ng-if="state.experience.length">
                <thead>
                    <tr>
                        <th width="10%">Move</th>
                        <th width="25%">Title</th>
                        <th width="25%">Organization</th>
                        <th width="20%">Location</th>
                        <th width="15%">Time Span</th>
                        <th width="5%">Edit</th>
                    </tr>
                </thead>
                <tbody ng-sortable>
                    <tr ng-repeat="item in state.experience track by $index">
                        <td>
                            <i class="fas fa-arrows-alt" ng-sort></i>
                        </td>
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item.organization}}
                        </td>
                        <td>
                            {{item.location}}
                        </td>
                        <td>
                            {{item.timespan}}
                        </td>
                        <td>
                            <i class="fas fa-edit" ng-click="editExperience(item, $index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div ng-include="'popups.htm'"></div>
</body>

<script src="lib/jquery-3.3.1.min.js"></script>

<script src="lib/angular.min.js"></script>
<script src="lib/angularjs-popup.js"></script>

<script src="lib/html5sortable.js"></script>

<script src="app.js"></script>