<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

<body ng-app="app" ng-controller="main" ng-cloak>
    <!-- general -->
    <section>
        <h1>
            General
            <button class="button white pull-right" ng-click="save()">
                <i class="fas fa-check"></i>
                Save Changes
            </button>
        </h1>
        <div class="two-col">
            <label>
                Name
                <input ng-model="state.name">
            </label>
            <label>
                Title
                <input ng-model="state.title">
            </label>
            <label>
                Phone
                <input ng-model="state.phone" type="tel">
            </label>
            <label>
                Email
                <input ng-model="state.email" type="email">
            </label>
        </div>
    </section>

    <section>
        <h1>
            Website/Social Links
            <button class="button white pull-right" ng-click="addLink()">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </h1>
        <div>
            <table class="table" ng-if="state.links.length">
                <thead>
                    <tr>
                        <th width="10%">Move</th>
                        <th width="20%">Type</th>
                        <th width="50%">URL</th>
                        <th width="10%">Edit</th>
                        <th width="10%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in state.links track by $index">
                        <td>
                            <i class="fas fa-arrows-alt" ng-if="!item.editing"></i>
                        </td>
                        <td>
                            <span ng-if="!item.editing" class="no-wrap" style="max-width: 152px;">
                                {{item.type}}
                            </span>
                            <input ng-if="item.editing" ng-model="item.editing.type">
                        </td>
                        <td>
                            <span ng-if="!item.editing" class="no-wrap" style="max-width: 380px;">
                                <a href="{{item.url}}" target="_blank">{{item.url}}</a>
                            </span>
                            <input ng-if="item.editing" ng-model="item.editing.url">
                        </td>
                        <td>
                            <!-- not editing -->
                            <i class="fas fa-edit" ng-click="editLink(item)" ng-if="!item.editing"></i>
                            <!-- editing -->
                            <i class="fas fa-check" ng-click="saveLink(item, $index)" ng-if="item.editing"></i>
                            <i class="fas fa-times" ng-click="cancelLink(item, $index)" ng-if="item.editing"></i>
                        </td>
                        <td>
                            <!-- not editing -->
                            <i class="fas fa-trash-alt" ng-click="deleteLink($index)" ng-if="!item.editing"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- TODO: education -->
    <section>
        <h1>
            Education
            <button class="button white pull-right" ng-click="addEducation()">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </h1>
        <div>
            <table class="table" ng-if="state.education.length">
                <thead>
                    <tr>
                        <th width="10%">Move</th>
                        <th width="20%">Degree</th>
                        <th width="20%">School</th>
                        <th width="20%">Location</th>
                        <th width="10%">Date</th>
                        <th width="10%">Edit</th>
                        <th width="10%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in state.education track by $index">
                        <td>
                            <i class="fas fa-arrows-alt" ng-if="!item.editing"></i>
                        </td>
                        <td>
                            <span ng-if="!item.editing">
                                {{item.degree}}
                            </span>
                            <input ng-if="item.editing" ng-model="item.editing.degree">
                        </td>
                        <td>
                            <span ng-if="!item.editing">
                                {{item.school}}
                            </span>
                            <input ng-if="item.editing" ng-model="item.editing.school">
                        </td>
                        <td>
                            <span ng-if="!item.editing">
                                {{item.location}}
                            </span>
                            <input ng-if="item.editing" ng-model="item.editing.location">
                        </td>
                        <td>
                            <span ng-if="!item.editing">
                                {{item.date}}
                            </span>
                            <input ng-if="item.editing" ng-model="item.editing.date">
                        </td>
                        <td>
                            <!-- not editing -->
                            <i class="fas fa-edit" ng-click="editEducation(item)" ng-if="!item.editing"></i>
                            <!-- editing -->
                            <i class="fas fa-check" ng-click="saveEducation(item, $index)" ng-if="item.editing"></i>
                            <i class="fas fa-times" ng-click="cancelEducation(item, $index)" ng-if="item.editing"></i>
                        </td>
                        <td>
                            <!-- not editing -->
                            <i class="fas fa-trash-alt" ng-click="deleteEducation($index)" ng-if="!item.editing"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- TODO: experience -->
    <section>
        <h1>
            Experience
            <button class="button white pull-right" ng-click="addExperience()">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </h1>
        <div>
        </div>
    </section>
</body>

<script src="angular.min.js"></script>
<script src="app.js"></script>